.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: fixed;
  left: 200px;
  width: 100%;
  background-color: #222;
  height: 40px;
  padding: 15px;
  color: white;
  z-index: 9999;
}

.App-body {
  position: relative;
  left: 200px;
  top: 70px;
  width: calc(100% - 200px);
}

.App-sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  background-color: rgb(48, 48, 48);
  left: 0;
  top: 0;
}

.App-sidebar-title {
  background-color: rgba(0, 0, 0, .87);
  color: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
