.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  position: fixed;
  left: 256px;
  width: 100%;
  background-color: #222;
  height: 40px;
  padding: 15px;
  color: white;
}

.App-body {
  position: relative;
  left: 256px;
  top: 70px;
  width: calc(100% - 256px);
  /*background-color: rgba(0, 0, 0, .13);*/
}

.App-sidebar {
  width: 256px;
  position: fixed;
  height: 100%;
  background-color: rgb(48, 48, 48);
  left: 0px;
  top: 0px;
}

.App-sidebar-title {
  background-color: rgba(0, 0, 0, .87);
  color: #fff;
  height: 70px;
  width: 236px;
  line-height: 70px;
  font-size: 24px;
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
